@import './mixins/animation';
@import './mixins/background';
@import './mixins/border';
@import './mixins/flex';
@import './mixins/position';
@import './mixins/size';
@import './mixins/textOverflow';

@mixin disable-volume-level() {
  .vjs-volume-control {
    display: none;
  }
  .vjs-volume-panel {
    min-width: $control-bar-button-width !important;
  }
}

@mixin floating-black-transparent-background() {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  background-color: rgba(28, 28, 28, 0.9);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@mixin visibility-transition-menu-style($class) {
  visibility: hidden;

  $opacity-duration: 0.3s;
  will-change: visibility;

  &#{$class} {
    visibility: visible;
  }

  @media (max-width: $small-dimension) {
    position: fixed;
    width: 100%;
    height: 100%;
    background: none;
    text-shadow: none;
    box-shadow: none;
    transition: visibility 0s linear $opacity-duration;

    .vjs-menu-content {
      position: absolute;
      bottom: 0;
      width: 100% !important;
      color: #333;
      background-color: #fff;
      transform: translateY(100%);
      transition: 0.3s transform ease, 0.3s height ease;
    }

    .vjs-menu-item {
      width: 100% !important;
    }

    &#{$class} {
      transition: visibility 0s linear 0s;

      .vjs-close-menu-layer {
        opacity: 1;
      }

      .vjs-menu-content {
        transform: translateY(0);
      }
    }
  }
}

@mixin tick($size: 0.8em) {
  content: '';
  width: $size/2;
  height: $size;
  display: block;
  margin-top: -0.2em;
  border-right: 0.15em solid;
  border-bottom: 0.15em solid;
  transform: rotate(45deg);
}
