$control-bar-height: 2.5em;
$control-bar-button-height: $control-bar-height * 0.72;
$control-bar-horizontal-padding: 0.75em;
$control-bar-hidden: '.vjs-user-inactive.vjs-playing:not(.vjs-keep-control-showing)';
$control-bar-button-width: $control-bar-height * 0.9;

$smaller-font-size: 0.875em;
$small-dimension: 480px;
